Sangtei/config.py
Sangtei/*.session
Sangtei/*.session-journal
Sangtei/config.ini
*.pyc
.project
.pydevproject
.directory
Sangtei/modules/helper_funcs/temp.txt
start-3.6.bat
*.session
kangsticker.png
venv
env
Sangtei.session-journal
*.exe
*.png
env/
*.session-journal
config.ini
*.session-journal
*.log
shell_output.txt
.vs
Sangtei/elevated_users.json
